{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<div class="content">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">    
            <h2 class="text-center">Receipts of the month and year</h2>
                <ul>
                    {% for entry in months %}
                    <div class="alert alert-info mr-4">
                        <li>
                            <a class="color-label" href="{% url 'receipts_by_month' year=entry.year month=entry.month %}">
                                {{ entry.month }}/{{ entry.year }} 
                                <p> ({{ entry.count|date:"M Y" }}
                                  {% if entry.count == 1 %}
                                   Receipt )
                                   {% else %} 
                                   Receipts )</p>
                                   {% endif %}
                            </a>
                        </li>
                    </div>
                    {% endfor %}
                </ul>

                <!-- Paginação -->
                <div class="pagination">
                  <span class="step-links">
                      {% if page_obj.has_previous %}
                          <a href="?page=1">&laquo; first</a>
                          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                      {% endif %}

                      <span class="current">
                          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                      </span>

                      {% if page_obj.has_next %}
                          <a href="?page={{ page_obj.next_page_number }}">next</a>
                          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                      {% endif %}
                  </span>
                </div>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}
